.sign-up {
    background-image: url('../../images/sg2.jpg');
    height: 100vh;
    position: relative;
    background-size: contain;
}


.search-button{
    border: 1px solid rgb(177, 176, 176);
    background-color: #00cda1cc;
    padding-right: 40px;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    transition: all .3s;
}
.search-button:hover{
    background-color: #00CDA0;
    transform: translateY(-2px);
}

.sign-up__role {
    background-color: rgb(238, 236, 236);
    height: 30vh;
    width: 70vh;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    border: 1px solid #fff;
}

.form-container {
    background-color: rgb(238, 236, 236);
    height: auto;
    width: 60vh;
    padding: 25px 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    border: 1px solid #fff;
}