.bg-search{
    background-image: url('../../../images/bg (5).jpg');
    background-position: center;
    background-size: cover;
}

.input-width {
    width: 30%;
    float: left;
}
.input-width > input {
   border: 1px solid darkturquoise;
   font-weight: 500;
}

.jobType {
    width: 15%;
    margin: 0 10px;
    float: left;
}
.jobType > select, option{
    border: 1px solid darkturquoise;
    font-weight: 500;
}

.search-form {
    margin: 0 0 0 9%;
    padding-top: 5%;
}

.suggestion {
    margin: 2% 0 0 9%;
}

.keyword{
    background-color: #00cda1cc;
    border-radius: 5px;
    padding: 4px 8px;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all .3s;
}
.keyword:hover{
    background-color: #00CDA0;
    transform: scale(1.2);
}

.img-size{
    width: 300px;
}

.search-button{
    border: 1px solid rgb(177, 176, 176);
    background-color: #00cda1cc;
    padding-right: 40px;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    transition: all .3s;
}
.search-button:hover{
    background-color: #00CDA0;
    transform: translateY(-2px);
}

@media only screen and (max-width: 669px) {
    .input-width {
        width: 100%;
        display: block;
        margin-right: 10%;
    }
    
    .jobType {
        width: 100%;
        display: block;
        margin: 10px 0;
        padding: 0;
    }

    .search-form {
        margin: 5%;
    }

    .suggestion {
        margin: 2% 0 0 5%;
    }

    .mobile-view{
        margin-top: 10px;
    }
  }

@media only screen and (min-width: 669px) {
    .bottom-fix{
        display: inline-block;
        margin-bottom: 10px;
    }
  }