.testimonial-4 {
    margin-top: 10%;
    background-color: rgba(177, 176, 176, 0.336);
}

.testimonial-4__title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: rgba(161, 33, 10, 0.616);
}

.user-common {
    border: none;
    padding: 10px 10px;
    color: rgba(0, 0, 0, 0.699);
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
    transition: all .2s ease-out;
}
.user-common:hover {
    transform: translateY(-2px);
}


.user-1 {
    height: 33vh;
    background-color: rgb(62, 161, 241);
}
.user-2 {
    height: 33vh;
    background-color: #00CDA0;
}
.user-3 {
    height: 33vh;
    background-color: mediumturquoise;
}

.testimonial-card__img {
    width: 65px;
    border-radius: 50%;
}
.testimonial-card__text {
    text-align: justify;
    display: inline-block;
    margin-top: 5px;
    font-style: italic;
    font-weight: 500;
}

@media only screen and (max-width: 974px) {
    .user-common {
       margin-bottom: 10px;
    } 
}
@media only screen and (max-width:576px) {
    .testimonial-4 {
        margin-top: 20%;
    }
}

@media only screen and (min-width: 974px) {
    .user-2 {
        height: 43vh; 
    }
    .user-2 > div {
        margin-top: 8%; 
    }

}

.post-hired {
    font-size: 18px;
    font-weight: 700;
    color: rgba(62, 160, 241, 0.884);
}

.number {
    font-size: 18px;
    font-weight: 700;
    color: #00CDA0;
}
