@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.admin-img {
    width: 150px;
    border: 1px solid cyan;
    border-radius: 50%;
    display: block;
    margin-left: auto;
}

.admin-info {
    border-left: 1px solid rgba(0, 139, 139, 0.616);
}

.admin-dashBoard {
    background-image: url('../../../images/sgu.jpg');
    padding: 3%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

.textColor1 {
    color: purple;
}
.textColor2 {
    color: #2C3E50;
}

.home-button {
    position: absolute;
    top: 3%;
    left: 3%;
}
.backImgBtn {
    width: 40px;
    transition: all .2s;
}
.backImgBtn:hover {
    transform: scale(1.1);
}