.profile-img {
    width: 150px;
    border: 1px solid #00CDA0;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.profile-info__container {
    text-align: center;
}

.profile-info__container > h6 {
    background-color: #e8ebeed0;
    margin-left: 10%;
    margin-right: 10%;
    height: 30px;
    padding-top: 4px;
    border-left: 2px groove cyan;
    margin-bottom: 13px;
    transform: skew(-10deg);
    transition: all 0.2s;
}
.profile-info__container > h6:hover {
    transform: translateY(-2px);
}


.closeModal {
    position: absolute;
    top: 2px;
    right: 2px;
    font-weight: 700;
    border-radius: 50%;
    transition: all .2s;
}
.closeModal:hover {
    position: fixed;
    transform: scale(1.1);
    cursor: pointer;
}