.footer {
    margin-top: 10%;
    background-color: #00CDA0;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 10%;
    color: rgba(0, 0, 0, 0.699);
    font-weight: 500;
}

.footer-color {
    color: rgba(0, 0, 0, 0.699);
}


.social-logo {
    width: 30px;
    margin-right: 15px;
}