.search-button{
    border: 1px solid rgb(177, 176, 176);
    background-color: #00cda1cc;
    padding-right: 40px;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    transition: all .3s;
}
.search-button:hover{
    background-color: #00CDA0;
    transform: translateY(-2px);
}

.description-container{
    background-image: url('../../../images/h.png');
    background-position: top right;
    background-size: 80px;
    background-repeat: no-repeat;
}