.bg-color {
    background-image: linear-gradient(60deg, #e1e8e9, #abebc64b );
    font-weight: 500;
}
.bg-color__dropdown {
    font-weight: 500;
}

.img-fixed {
    width: 25px;
    padding-bottom: 5px;
}

.logo {
    width: 80px;
}


body {    
    overflow-x: hidden;
}