.bg-color {
    font-weight: 500;
    border-bottom: 1px solid #00CDA0;
    background-color: #15daafa2;
}
.bg-color__dropdown {
    font-weight: 500;
}

.img-fixed {
    width: 25px;
    padding-bottom: 5px;
}

.logo {
    width: 80px;
}

.text-style {
    color: #27453dc2;
}


body {    
    overflow-x: hidden;
}